page-home {
  .fire {
    .label.label-md {
      flex: none;
      margin: 0 auto;
      button {
        width: 200px;
        height: 30px;
        margin: 15px 0;
        font-size: 1em;
      }
    }
  }
  .item-md.item-block {
    &.item-range, &.fire {
      .item-inner {
        border-bottom: 0;
      }
    }
  }
  .vertical {

  }
}
